<div class="grid grid-cols-2">
  <div class="bg-primary-600 flex items-center justify-center flex-col px-14">
    <h1 class="text-4xl font-bold text-primary-100">User Management System</h1>
    <p class="text-center mt-6 text-primary-300 text-lg">
      A secure and responsive web application built with Angular that allows administrators to
      manage users efficiently. The system includes authentication, role-based access control, user
      profile management, and an admin dashboard for creating, updating, and monitoring users.
    </p>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
